$main-color:#FAFBFF;
$primary-color:#000000;
$secondary-color:#3734A9;
$info-color: #64607D;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


// button values

