.theme {
  background: linear-gradient(292.12deg, #62bada -35.02%, #c9e7f2 78.96%);
}
.theme2{
  background-color:#C9E7F2;
}
.theme3{
  background-color: #3734A9;
}
.theme4{
  background-color: #F5F6F8;
}